@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #1a1a1a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Condensed", serif;
  color: #fff;
}

.container {
  background-color: #58585825;
  border-radius: 10px;
  align-items: center;
  padding: 1.5rem;
}

#app-head {
  text-align: center;
  /* border: 2px solid red; */
}

.weather-box {
  margin-top: 1.5rem;
  text-align: center;
}

.input-container input {
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  border: none;
}

#get-weather-btn {
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #38c6e2;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

#get-weather-btn:hover {
  background-color: #288da1;
}

.hidden {
  display: none;
}

#error-msg {
  margin-top: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
